<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="gripper2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0084311 -0.0026508 -0.00015602"
        rpy="0 0 0" />
      <mass
        value="0.11581" />
      <inertia
        ixx="5.4342E-05"
        ixy="-3.727E-07"
        ixz="-2.0098E-07"
        iyy="2.8746E-05"
        iyz="-6.0295E-07"
        izz="3.713E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_link">
    <inertial>
      <origin
        xyz="-0.046301 -0.029247 0.021379"
        rpy="0 0 0" />
      <mass
        value="0.03309" />
      <inertia
        ixx="2.1863E-06"
        ixy="-1.0959E-11"
        ixz="2.5315E-06"
        iyy="9.3261E-06"
        iyz="-2.3809E-12"
        izz="8.531E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint"
    type="revolute">
    <origin
      xyz="-0.0135 0.024 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_link">
    <inertial>
      <origin
        xyz="-0.046709 -0.027439 -0.029147"
        rpy="0 0 0" />
      <mass
        value="0.030645" />
      <inertia
        ixx="2.9028E-06"
        ixy="8.3629E-12"
        ixz="-3.3228E-06"
        iyy="9.4277E-06"
        iyz="-3.8595E-12"
        izz="7.9093E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gripper2/meshes/left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint"
    type="revolute">
    <origin
      xyz="-0.0135 0.024 -0.014"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>